{{> head }}
{{> navbar}}
<div class="row">
<div class="col-8">
    <h1>ABOUT</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita assumenda, illum non beatae nobis, eaque, aliquam provident ullam deleniti laborum et iure nam blanditiis. Consequatur placeat atque iusto molestiae quas.</p>
</div>
<div class="col-4">
    <img src="../public//assets/img/mario.jpg" class="img-thumbnail"> 
</div>
</div>
{{> footer}}